/* dl{
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top-bar{
    display: flex;
    padding: 10px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #a9cac0;
} */
  .maincontainer{
            width: 300px;
        }
        .search-bar{
            width: 100px;
            display: block;
        }
        .first{
            background-color: blue;
            margin-bottom: o;
            color: white;
        }
        .second{
            margin-bottom: 0;
        }
        button{
           background-color: bisque;
           height: 30px;
           width: 100px;
           cursor: pointer;
        }
        .read{
            background-color: rgb(27, 24,24);
            color: white;
            margin-top: 5px ;
        }
        .click{
            background-color: white;
            border-color: blue;
            color: blue;
            transition: background-color 0.5s,
            color 0.5s;
        }
        .click:hover{
            background-color: blue;
            /* border-radius: 10px; */
            /* box-shadow: 0,0,10,5 rgba(0, 0, 0, 0.5) ; */
            
            color: white;
        }
        .subscribe{
            background-color: red;
            margin-right: 80px;
            transition: 0.3s;
        }
        .subscribe:hover{
            background-color: rgb(182, 23, 23);
            border-radius: 10px;
        }

        .here:hover{
            color: #02fcfc;
            cursor: pointer;
        }
        .services{
            cursor: pointer;
        }
        .image{
            width: 100;
        }
        .learn{
            display: inline;
            font-weight: bold;
        }
       