table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
th {
  border: 2px solid black;
  text-align: right;
  background-color: yellowgreen;
}
table {
  margin-bottom: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);

  /* display: inline; */
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  border: none;
}
td {
  font-size: 20px;
}
