header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-width: fit-content;
    z-index: 1;
}
.top_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    min-width: fit-content;
    position: relative;
    display: flex;
    height: 70px;

}
.search-bar{
    background: url(search.svg) no-repeat 2px 50%;
    padding-left: 30px;
    background-size: 20px;
    width: 400px;
    border-radius: 10px;
    display: block;
    outline: none;
    border-right: none;
    border-width: 1px;
    background-color: white;
    flex: 1;
    font-size: 20px;
    box-shadow: inset 1px 2px 3px 0 rgba(0, 0, 0,0.5) ;
    border-radius: 40px 0 0 40px;
    
}
.remain{
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 15px;
    background-color: red;
    height: 15px;
    width: 15px;
    text-align: center;
    border-radius: 50%;
    cursor: default;
}
.notification{
    position: relative;
}
.youtube_img{
    height: 40px;
}
.search-button .tool_tip,
.voice .tool_tip,
.uploads .tool_tip,
.application .tool_tip,
.notification .tool_tip{
     background-color: grey;
     color: white;
     position: absolute;
     bottom: -30px;
     padding: 4px 4px;
     opacity: 0;
     transition: opacity 0.5s;
     pointer-events: none;
     white-space: nowrap;
     text-align: center;
}
.search-button:hover .tool_tip,
.voice:hover .tool_tip,
.uploads:hover .tool_tip,
.application:hover .tool_tip,
.notification:hover .tool_tip{
    opacity: 1;
}
.voice{
    height: 60px;
    width: 60px;
    border-radius:50% ;
}
.notify{
    width: 40px;
    
}
.upload{
    width: 40px;
    
}
.apps{
    width: 40px;
  
}
.left_sect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle_sect{
    max-width: 500px;
    display: flex; 
    justify-content: space-between;
    flex: 1;
}

.right_sect{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search-img{
    height: 40px;
}
.search-button{
    margin-right: 10px;
    border-radius: 0 40px 40px 0;
    position: relative;
}
.object{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.last_button{
    position: absolute;
    display: none;
    right: 0;
    top: 20px;
}

@media ((min-width: 500px) and (max-width : 861px)) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }
    .object{
        transform: translateX(300px) translateY(-15px);
        transition: 0.4s;
        
    }
    .display_object{
        transform: translateX(-5%) translateY(-15px);
    }
    .right_sect{
        height: 200px;
        width: 200px;
        background-color: #ffffff77;
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.661);
        padding: 50px 20px;
        align-items: center;
        border-radius: 10px;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 70px;
        
        /* position: absolute; */
        z-index: 100000;
        /* left: 10px; */
    }
    .sect{
        display: flex;
        justify-content: center;
        /* padding: 10px 40px; */
        width: 100%;
        border-radius: 20px;
        background-color: rgba(35, 237, 237, 0.686);
        
    }
    .remain{
        right: 80px;
    }
    .sect:hover{
        background-color: rgba(25, 136, 161, 0.45); ;
    }
    .pro{
        border-radius: 0;
    }
    

    .last_button{
        display: contents;
    }
}